/* ===================
>>> GENERAL LAYOUT <<<
=================== */

html {
  overflow-x: hidden;
}

body {
  background-color: black;
}

.no_margin {
  margin: 0px;
}

.full_screen {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.container-fluid {
  padding: 0px;
  height: 100vh;
}


/* ===================
>>>> GRID LAYOUT <<<<
=================== */

.block {
  height: 33.3vh;
  display: inline-block;
  transition: all 1s ease;
}

.block:hover>.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 100;
  display: block;
}

.info {
  display: none;
  position: absolute;
  text-align: center;
  padding-top: 0px;
  color: #fff;
  font-family: "Futura", "Didact Gothic";
}

#judges .info,
#company .info {
  padding-top: 40vh;
}

.singer_info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  position: fixed !important;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 2px;
  min-height: 25px;
  z-index: 200;
}

#navbar a {
  display: inline;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: center;
  color: white;
  font-family: "Futura", "Didact Gothic";
}

#navbar-logo{

}

#navbar a:hover {
  text-decoration: none;
  color: #c3cbd8;
}


/* ============================= PICS GO HERE =============================*/
.stroketext {
  font-family: "Verdana";
  font-style: italic;

  background-color: black;

  text-align: center;
  font-size: 4em;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: #47d4ff;

}

#judges {
  display: block;
  background-image: url("../img/judges.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 50%;
}

#company {
  display: block;
  background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/18491765_1484519591579379_8031483925442164008_o.jpg?oh=4fa4dc255206768cf8bf13415e99c587&oe=59A5A328");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 50%;
}

.btn {
  border-radius: 0px;
  border: none;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic6,
#pic7,
#pic8,
#pic9 {
  display: block;
}

#pic1 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhRmprUWktWmgxZXM=w1136-h723-iv1");
  background-size: cover !important;
  background-position: 0% 20%;
}

#pic2 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhZl9sX2swRUNZMm8=w1136-h723-iv1");
  background-size: cover !important;
  background-position: 0% 20%;
}

#pic3 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhYkI5SjVUQkFtWGM=w1136-h723-iv1");
  background-size: cover !important;
}

#pic4 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhOXlHbVpwbGp3ZVk=w1136-h723-iv1");
  background-size: cover !important;
}

#pic5 {
  background-image: url("../img/artists.svg");
  background-position: center;
  background-size: cover !important;
}

#pic5 .info {
  position: absolute;
  top: 0;
  padding-top: 55px;
  width: 100%;
  height: 100%;
  left: 0;
  text-decoration: none;
  z-index: 100;
  display: block;
}

#pic6 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhVDZOTFlzZ1dQd28=w1136-h723-iv1");
  background-size: cover !important;
}

#pic7 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPha0pwTmVHTGNBOE0=w1136-h723-iv1");
  background-position: 0% 40%;
  background-size: cover !important;
}

#pic8 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhRWZmS1cxUzl5cmc=w1136-h723-iv1");
  background-size: cover !important;
}

#pic9 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPheEF1Y0pZeE45OFU=w1136-h723-iv1");
  background-size: cover !important;
}


/* ==================
>>> MODAL LAYOUT <<<
=================== */

.modal_width {
  height: 90%;
  width: 90%;
}

.modal_artist {
  margin: 0px;
  font-size: 60px;
}

.modal_by_line {
  margin: 0px;
  font-size: 30px;
}

.modal_article_img {
  float: left;
  max-height: 60vh;
  max-width: 100%;
}

.float_left {
  float: left;
  margin: 0px 25px 20px 0px;
}

.modal_video {
  height: 100%;
  width: 100%;
}


/* =============
>>>> TWEETS <<<<
============== */

#twitter-feed {
  margin-top: 2%;
}

.fluffy-box {}

#tile-container {
  display: flex;
  width: 1800px;
  padding-left: 10px 50px;
}

#tile-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}


/* =============
>>>> VIDEO <<<<
============== */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row.videos {
  margin: 0px;
}

@media screen and (min-width: 1000px) {
  .video-container {
    width: 969px;
    height: 575px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

/***************
Landing Page
****************/

.landing_page {
  background-color: #0C0C0D;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.landing_page__background {
  position: relative;
  width: auto;
  height: 100vh;
  left: 50%;
  transform: translate(-50%,0)
}

.landing_page__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -460px;
  margin-top: -200px;
}

.landing_page__logo img {
  max-height: 60vh;
  width: 360px;
}

.landing_page__logo--spring {
    margin-right: 98px;
}

.landing_page__logo--sing {
  margin-left: 98px;
}

.btn.btn--enter {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -70px;
    font-size: 24px;
    font-weight: 500;
    color: #111;
    letter-spacing: .1em;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 18px;
    background-color: #fff; 
}

.lights {
  display: none;
}

.full_screen--landing {
    position: relative;
    width: 100%;
    background: #060809;
    background-image: url(../img/landing_page.svg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;   
}

.full_screen__logo {
    padding: 30vh 16px;
}

.spring,.sing {
    max-height: 60vh;
    width: 360px;
    margin: 0 64px;
}

.full_screen__speaker {
    position: absolute;
    max-height: 320px;
    width: auto;
}

.full_screen__speaker--left {
    bottom: 0;
    left: 64px;
}

.full_screen__speaker--right {
    bottom: 0;
    right: 64px;
}

.lights {
  pointer-events: none;
  position: relative;
  width: 1200px;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
}

.lights svg {
  position: absolute;
  height: 600px;
}

@media (max-width: 1080px) {
    .full_screen__speaker {
        max-height: 200px;
    }

    .spring,.sing {
        width: 220px;
        margin: 0 32px;
    }

    .landing_page__logo {
      margin-left: -260px;
    }

    .landing_page__logo img {
      width: 250px;
    }

    .landing_page__logo--spring {
      margin-right: 32px;
    }

    .landing_page__logo--sing {
      margin-left: 32px;
    }

}

@media (max-width: 720px) {
    .full_screen__speaker {
        max-height: 160px;
    }

    .full_screen__logo {
        padding: 30vh 0px;
    }
    .spring,.sing {
        width: 180px;
        margin: 0 16px;
    }

    .full_screen__speaker--left {
        bottom: 0;
        left: 0px;
    }

    .full_screen__speaker--right {
        right: 0px;
    }

    .landing_page__logo {
      margin-left: -210px;
    }

    .landing_page__logo img {
      width: 200px;
    }

    .landing_page__logo--spring {
      margin-right: 16px;
    }

    .landing_page__logo--sing {
      margin-left: 16px;
    }

}

@media (max-width: 480px) {
    .spring,.sing {
        width: 140px;
        margin: 0 8px;
    }

    .landing_page__logo {
      margin-top: -50px;
      margin-left: -150px;
    }

    .landing_page__logo img {
      width: 140px;
    }

    .landing_page__logo--spring {
      margin-right: 8px;
    }

    .landing_page__logo--sing {
      margin-left: 8px;
    }
}
