/* ===================
>>> GENERAL LAYOUT <<<
=================== */

html {
  overflow-x: hidden;
}

body {
  background-color: black;
}

.no_margin {
  padding-top: 20px;
  margin: 0px;
}

.full_screen {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  margin: 50px 0px;
}

.container-fluid {
  padding: 0px;
  height: 100vh;
}


/* ===================
>>>> GRID LAYOUT <<<<
=================== */

.block {
  height: 33.3vh;
  display: inline-block;
  transition: all 1s ease;
}

.block:hover>.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 100;
  display: block;
}

.info {
  display: none;
  position: absolute;
  text-align: center;
  padding-top: 0px;
  color: #fff;
  font-family: "Futura", "Didact Gothic";
}

#judges .info,
#company .info {
  padding-top: 40vh;
}

.singer_info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  position: fixed !important;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 2px;
  min-height: 25px;
  z-index: 200;
}

#navbar a {
  display: inline;
  padding-right: 60px;
  color: white;
  font-family: "Futura", "Didact Gothic";
}

#navbar a:hover {
  text-decoration: none;
  color: #c3cbd8;
}


/* ============================= PICS GO HERE =============================*/
.stroketext {
  font-family: "Verdana";
  font-style: italic;

  background-color: black;

  text-align: center;
  font-size: 4em;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: #47d4ff;

}

#judges {
  display: block;
  background-image: url("https://lh3.googleusercontent.com/1wtS0rAlsGxfUd_qbZSXXEWOKN9uWEe8WTY0BSKys3vj01egegsV6JMnDT3Q3tFB64C6AqlWSUUpHLqd2jOppuOPDkGXGQ96smege5r6CiD0ddvqVumuGqSZvz2-t-R6X7toAtN_aLA0_i1YVzqZ_qe-p3-3tq4VbsZxw38ctVMLyyQhna3CrmxBUV6DXa8DPqcnZ3FBgkT95fmvR0osJrxX_vvqgXqSumhGHPZ2fKhsMVOf3YwP-KvCywa31rfzaKfIrKjCnVIg4c1xgknJxFAode5HY1McmBLMcH9U2ZR67glcRwE1-M89obshERgBR-KCszfvwSSW1R2yWrlIJNMI-88f4pmbze0ZoROnHukEcS4qB8KGaIwWW0e9zaTXn639_Do5qL9kEEbaKn6zlJgMBNvULCjY1DhWPmHamyXKeUrj3civio2mZrGdOlBsbRD7UP6vAWf8uEI2sZQ_o68h7TB30mDm8l4VPnugjyMF_Irdzc_yIy2Lpwp7UWXdaCRnezIbg-Z-76w7hI9rwJAFkeFV5BTRTnbQWG-Xfb6TcFQUjM5GQGV7rQtMfZIzsXt8bfM1=w1136-h723");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 50%;
}

#company {
  display: block;
  background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/18491765_1484519591579379_8031483925442164008_o.jpg?oh=4fa4dc255206768cf8bf13415e99c587&oe=59A5A328");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 50%;
}

.btn {
  border-radius: 0px;
  border: none;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic6,
#pic7,
#pic8,
#pic9 {
  display: block;
}

#pic1 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhRmprUWktWmgxZXM=w1136-h723-iv1");
  background-size: cover !important;
  background-position: 0% 20%;
}

#pic2 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhZl9sX2swRUNZMm8=w1136-h723-iv1");
  background-size: cover !important;
  background-position: 0% 20%;
}

#pic3 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhYkI5SjVUQkFtWGM=w1136-h723-iv1");
  background-size: cover !important;
}

#pic4 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhOXlHbVpwbGp3ZVk=w1136-h723-iv1");
  background-size: cover !important;
}

#pic5 {
}

#pic5 .info {
  position: absolute;
  top: 0;
  padding-top: 55px;
  width: 100%;
  height: 100%;
  left: 0;
  text-decoration: none;
  z-index: 100;
  display: block;
}

#pic6 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhVDZOTFlzZ1dQd28=w1136-h723-iv1");
  background-size: cover !important;
}

#pic7 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPha0pwTmVHTGNBOE0=w1136-h723-iv1");
  background-position: 0% 40%;
  background-size: cover !important;
}

#pic8 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPhRWZmS1cxUzl5cmc=w1136-h723-iv1");
  background-size: cover !important;
}

#pic9 {
  background-image: url("https://lh3.google.com/u/0/d/0B_0uEI71jEPheEF1Y0pZeE45OFU=w1136-h723-iv1");
  background-size: cover !important;
}


/* ==================
>>> MODAL LAYOUT <<<
=================== */

.modal_width {
  height: 90%;
  width: 95%;
}

.modal_artist {
  margin: 0px;
  font-size: 60px;
}

.modal_by_line {
  margin: 0px;
  font-size: 30px;
}

.modal_article_img {
  float: left;
  max-height: 60vh;
  max-width: 35vw;
}

.float_left {
  float: left;
  margin: 0px 25px 20px 0px;
}

.modal_video {
  height: 100%;
  width: 100%;
}

/* =============
>>>> TWEETS <<<<
============== */

#twitter-feed {
  margin-top: 2%;
}

#tile-container {
  display: flex;
  width: 1600px;
  padding-left: 50px;
}

#tile-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}


/* =============
>>>> VIDEO <<<<
============== */

#videos {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* w x h = 1 x .56206 */
@media screen and (min-width: 1024px) {
    .video-container iframe {
      width: 854px;
      height: 480px;
    }
}

@media screen and (min-width: 525px) and (max-width: 1023px) {
    .video-container iframe {
      width: 500px;
      height: 281px;
    }
}

@media screen and (min-width: 300px) and (max-width: 524px) {
    .video-container iframe {
      width: 275px;
      height: 154px;
    }
}

/* =============
>>>> FOOTER <<<<
============== */

footer p {
  text-align: center;
  color: white;
  font-size: 10px;
}